{{ define "index" }}
<!doctype html>
<html lang="en">
  <head>
    <title>Readmetmpl</title>
    <meta charset="utf-8" />
    <!-- <link rel="icon" href="/resources/images/favicon.png" /> -->
    <meta name="viewport" content="width=device-width" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes"
    />
    <meta name="description" content="A Readme generator from template" />
    <meta name="keywords" content="hmm" />
    {{ template "_imports" }}
  </head>

  <body style="min-height: 100dvh" class="font-Vistol bg-black">
    <main class="w-full h-full">
      <button class="btn">Hehe hoho I'm a Button</button>
      <button class="btn btn-info">Info</button>
      <button class="btn btn-success">Success</button>
      <button class="btn btn-warning">Warning</button>
      <button class="btn btn-error">Error</button>
    </main>
  </body>
</html>
{{ end }}
